html
html
   head
      title ExpressProject
      style
         include css/style.css 
   body

      h1(align='center') !! .. Girnar Techonology .. !!
      h2(align='center') -- Employe Registration Form --

      h1=ageErr
      form(action = "/expressproject", method = "POST")
         div
            label.name(for = "Name") Name : -
            input(name = "Name" required) 
         br
         div
            label(for = "Email") Email : -
            input(name = "Email" required)
         br
         div
            label(for = "PhoneNo") PhoneNo : -
            input(name = "PhoneNo" required)
         br

         button(type = "submit") Submit